@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

html {
    height: 100%;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Comfortaa", san-serif;
    margin-top: 15px;
}

p {
    margin: 0;
}

/* Header */
#logo {
    background: url("../images/Logo.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    border: outset;
    height: 200px;
}

.img {
    height: 100%;
    width: 100%;
}

.nav {
    min-height: 75px;
    background-color: #ffe6d6;
}

.nav-item {
    font-family: "Comfortaa", san-serif;
    display: flex;
}

.nav-item a {
    display: flex;
    flex-direction: column;
    align-self: center;
    color: black;
}

.heading {
    font-family: "Comfortaa", san-serif;
    font-size: 50px;
    font-weight: 700;
    align-self: center;
    display: inline-block;
    margin: 0;
}

.header {
    border: solid black;
    color: black;
    height: 125px;
    text-align: center;
    background-color: #f0835f;
}

/* Content */
#cal {
    padding: 15px;
    text-align: center;
    min-width: 180px;
    height: fit-content;
}

#stories {
    margin: 0;
    height: fit-content;
}

#stories h2,h4 {
    text-decoration: underline;
    text-align: justify;
}

#stories p {
    font-family: "Comic Neue", cursive;
}

.page {
    margin: 15px;
    border: solid #f0835f;
    height: fit-content;
    min-width: 200px;
}

.heading-2 {
    background-color: #5b7a98;
    color: black;
    margin: 0;
    border: solid;
}

.accordion-button {
    background-color: #d5f4ff;
    padding: 0px;
    padding-left: 10px;
    border: solid;
}


/*----------Footer*/

footer {
    margin-top: auto;
    background-color: #f0835f;
    display: inline-flex;
    left: 0;
    bottom: 0;
}

footer p {
    font-family: "Comfortaa", sans-serif;
    color: #342c57;
    font-weight: 800;
    font-size: small;
}

footer i {
    color: #342c57;
}

footer i:hover {
    font-size: larger;
}

.footer-details {
    margin-top: 10px;
    margin-left: 20%;
}

.footer-img {
    background: url('../images/footer.png');
    background-size: contain;
}

.copyright {
    display: inline-flex;
}

.fa-copyright {
    font-size: large;
}

.social-media {
    display: block;
    text-align: center;
}

.list-group-horizontal {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

/* ------------------------------------------------- Main--landing */

.container-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0px 30px 0px;
}

.container-main h2 {
    font-family: "Comfortaa", sans-serif;
    font-size: 35px;
    font-weight: 700;
    /* text-align: center; */
    display: inline-block;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 10px;
}

.container-main img {
    width: 100%;
    height: 85%;
    max-width: 600px;
    border: 3px solid #F0835F;
    border-radius: 15px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 20px;
}

.container-main hr {
    border-top: 3px solid #F0835F;
}

.accordion-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #F0835F;
    border-radius: 10px;
    padding-bottom: 20px;
    margin: 20px 10px 30px 10px;
}

.accordion-main-bg {
    background-image: url("../images/background-image.jpg");
}

.container-main .text {
    margin-bottom: 20px;
}

.accordion-main h2 {
    font-family: "Comfortaa", sans-serif;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    display: inline;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.accordion-main p {
    text-align: center;
    padding-bottom: 20px;
}


/* ------------------------------------------------- contact page */



.rounded-image {
    width: 100%;
    max-width: 260px; /* Adjust as needed */
    height: auto;
    border-radius: 50%;
    object-fit: cover; /* Ensures the image covers the container without stretching */
    border: 3px solid #F0835F; /* Border color and thickness */
}


/* ------------------------------------------------- guide page*/

.guide-acc {
    background-color: #ffe6d6;
}

.list-item-heading {
    text-transform: capitalize;
    font-weight: 600;
}

































/* Small devices (up to 600px) */
@media only screen and (max-width: 600px) {}

/* Medium devices (600px to 900px) */
@media only screen and (min-width: 601px) and (max-width: 900px) {}

/* Large devices (900px to 1200px) */
@media only screen and (min-width: 901px) and (max-width: 1200px) {}

/* Extra-large devices (1200px and above) */
@media only screen and (min-width: 1201px) {}